#Landing {
    max-width: 1500px;
    margin: auto;
}

#Landing #s1 {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    margin-top: 50px;
    /* background: #000; */
}

#Landing #s1 .text-container {
    width: 45%;
}
    #Landing #s1 .text-container p{
        padding-left: 20px;
}

#Landing #s1 .text-container {
    font-size: x-large;
        margin-top: 30px;

}

#Landing #s1 .text-container button {
    font-size: x-large;
    background: black;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 50px;
    border: none;
    color: white;
    transition: all 0.2s ease-in;

    &:hover {
        background: white;
        color: #100059;
        cursor: pointer;
    }
}

#Landing #s1 .img-container {
    width: 42%;
}

#Landing #s1 .img-container img {
    width: 100%;

}

#Landing #s2 {
    margin-top: 150px;
    display: flex;
    justify-content: space-evenly;
}

#Landing #s3 {
    background: #202020;
    width: content;
    height: 150px;
    margin: 250px 5%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0;

}
#Landing #s3 .yt-logo{
    background: #202020;
    border-radius: 100%;
    /* padding: 50px; */
    aspect-ratio: 1;
    height: 200%;
    border: 15px solid #202020;
    /* margin: 0 10%; */
}
#Landing #s3 .text-container {
    max-width: 30%;
    margin: 1%;
}
#Landing #s3 .text-container h3{
    line-height: 0;
}
#Landing #s3 .text-container p {
    /* display: inline; */
    font-size: large;
}
#Landing #s3 .text-container button {
    background: #FE0002;
    border: none;
    padding: 10px 30px;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    transition: all 0.2s ease-in;
    &:hover{
        box-shadow: 0 0 10px#FE0002;
    }
}
@media screen and (max-width: 1200px) {
    #Landing #s1 {
        justify-content: space-between;
    }
    #Landing #s1 .text-container,
    #Landing #s1 .img-container {
        width: 48%;
        font-size: large;
    }
    #Landing #s1 .text-container{
        margin-top: 20px;
    }
    #Landing #s1 .text-container button{
        font-size: large;
        margin: 5px;
    }
    
}
@media screen and (max-width: 890px) {  /**  Mobile */
    #Landing #s1 {
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin: 0;
    }
    #Landing #s1 .text-container,
    #Landing #s1 .img-container {
        width: 80%;
    }
    #Landing #s1 .img-container {
        margin-top: 50px;
        max-width: 500px;
    }
    #Landing #s2 {
        flex-direction: column;
        padding: 5%;
    }
    #Landing #s3 {
        flex-direction: column;
        height: 100%;
        text-align: center;
    }
    #Landing #s3 img{
        margin-top: -30%;
        width: 50%;
    }
    #Landing #s3 .text-container{
        max-width: 80%;
    }
}